<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <meta-data
            android:name="com.profilog.telemetry.health.sync.channelId"
            android:resource="@string/sync_channel_id" />
        <meta-data
            android:name="com.profilog.telemetry.health.sync.channelName"
            android:resource="@string/sync_channel_name" />
        <meta-data
            android:name="com.profilog.telemetry.health.sync.notificationTitle"
            android:resource="@string/sync_notification_title" />
        <meta-data
            android:name="com.profilog.telemetry.health.sync.notificationIcon"
            android:resource="@android:drawable/stat_notify_sync" />
        <meta-data
            android:name="com.profilog.telemetry.health.sync.notificationId"
            android:resource="@integer/sync_notification_id" />

        <activity
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HealthConnectInfoActivity"
            android:exported="true"
            android:label="HealthConnect"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">

            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>

        </activity>

        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:targetActivity=".HealthConnectInfoActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync" />


    </application>

</manifest>